{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Obtenir Un Devis {% endblock %}

{% block content %}
{% verbatim %} 
<div class="row-fluid"  ng-app="newEstimate" ng-controller="formMakedevisCtrl">
    <contenu-home-devis 
    ng-show="showHome == true" 
    conf="conf" 
    entr="detailsCompany" 
    selectparamplant="toDevisParams('plant')"
    selectparamsuperficie="toDevisParams('superficie')">
</contenu-home-devis>
<div ng-show="showformPltsActsParam == true" class="spacer">
        <form id="formPltsActsParam" name="formPltsActsParam" class="form-horizontal" novalidate>
            <h2>Guyot Simple ou Guyot Double</h2>            
            <div ng-if="conf.guyots" class="radio">
              <label>
                <input type="radio" name="optionsguyot" id="optionsguyot1" value="gs" ng-model="$parent.params.optionsguyot" checked />
                Guyot Simple
            </label>
        </div>
        <div ng-if="conf.guyotd" class="radio">
            <label>
                <input  type="radio" name="optionsguyot" id="optionsguyot2" value="gd" ng-model="$parent.params.optionsguyot" />
                Guyot Double
            </label>
        </div>
        <div class="spacer" ng-if="parPlant">
            <h2>Nombre de Plants </h2>
            <div class="form-group">
                <label for="inputnombreplants" class="col-sm-2 control-label">Nombre de Plants:</label>
                <div class="col-sm-10">
                        <input class="form-control"   
                        type="number"
                        min="0" 
                        id="inputnombreplants"
                        value="0"
                        ng-model="$parent.params.nbPlants" 
                        required />
                </div>
            </div>
        </div>
        <div class="spacer" ng-if="parSuperficie">
            <div class="form-group">
                <label for="inputsuperficie" class="col-sm-2 control-label">Superficie:</label>
                <div class="col-sm-10">
                        <input class="form-control"   
                        type="number"
                        min="0" 
                        id="inputsuperficie"
                        value="0"
                        ng-model="$parent.params.optionssuperficie" 
                        required />
                </div>
                {{ option }}
            </div>
            <div class="form-group">
                <label for="inputdistanceps" class="col-sm-2 control-label">Distance entre Ceps</label>
                <div class="col-sm-10">
                    <input class="form-control"  
                    type="number"
                    min="0" 
                    id="inputdistanceps" 
                    value="0"
                    ng-model="$parent.params.optionsdistceps" 
                    required />
                </div>
            </div>
            <div class="form-group">
                <label for="inputdistancerangs" class="col-sm-2 control-label">Distance entre Rangs</label>
                <div class="col-sm-10">
                    <input class="form-control"  
                    type="number"
                    min="0" 
                    id="inputdistancerangs"
                    value="0"
                    ng-model="$parent.params.optionsdistrangs" 
                    required />
                </div>
            </div>
        </div>

        <div class="spacer">
            <button ng-click="toShowHome()" 
                class="btn btn-info text-center">Revenir au Début
            </button>
            <button ng-click="toDevis()" 
            class="btn btn-info pull-right"
            ng-disabled="formPltsActsParam.$invalid">Choisir vos prestations
            </button>
        </div>
    {{ option }}
    </form>                   
</div>
<contenu-plants 
    ng-show="showformPltsActs == true"  
    groups="groups" 
    devisparsup="parSuperficie" 
    devisparplant="parPlant" 
    activities ="allActivities"
    selectparam="toDevisParams(typePlOuSup)">
</contenu-plants>
</div>
{% endverbatim %}
{% endblock %}
{% block othersscipt %}
<script src="{% static "lib/tinymce/tinymce.min.js" %}"></script>
<script src="{% static "lib/angularjs/angular.min.js" %}"></script>
<script src="{% static "lib/angularjs/angular-sanitize.min.js" %}"></script>
<script src="{% static "lib/angularjs/i18n/angular-locale_fr-fr.js" %}"></script>
<script src="{% static "lib/angularjs/angular-cookies.min.js" %}"></script>
<script src="{% static "lib/angularjs/angular-resource.min.js" %}"></script>
<script src="{% static "lib/angularjs/angular-route.min.js" %}"></script>
<script src="{% static "lib/ui-tinymce.js" %}"></script>
<script src="{% static "js/app.js" %}"></script> 
<script src="{% static "js/MesDirectives.js" %}"></script>  
<script src="{% static "js/MesFactories.js" %}"></script>       
{% endblock %}