{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Obtenir Un Devis {% endblock %}

{% block content %}
{% verbatim %} 
<div class="row-fluid"  ng-app="newEstimate" ng-controller="formMakedevisCtrl">
    <contenu-home-devis 
    ng-show="showHome == true" 
    conf="conf" 
    entr="detailsCompany" 
    selectparamplant="toDevisParams('plant')"
    selectparamsuperficie="toDevisParams('superficie')">
</contenu-home-devis>
<contenu-params ng-show="showformPltsActsParam == true" 
    conf="conf" 
    paramsuperficie="parSuperficie" 
    tohome="toShowHome()" 
    toestimate="toDevis()">
</contenu-params>
<contenu-plants 
    ng-show="showformPltsActs == true"  
    groups="groups" 
    devisparsup="parSuperficie" 
    devisparplant="parPlant" 
    activities ="allActivities"
    selectparam="toDevisParams(typePlOuSup)">
</contenu-plants>
</div>
{% endverbatim %}
{% endblock %}
{% block othersscipt %}
<script src="{% static "lib/tinymce/tinymce.min.js" %}"></script>
<script src="{% static "lib/angularjs/angular.min.js" %}"></script>
<script src="{% static "lib/angularjs/angular-sanitize.min.js" %}"></script>
<script src="{% static "lib/angularjs/i18n/angular-locale_fr-fr.js" %}"></script>
<script src="{% static "lib/angularjs/angular-cookies.min.js" %}"></script>
<script src="{% static "lib/angularjs/angular-resource.min.js" %}"></script>
<script src="{% static "lib/angularjs/angular-route.min.js" %}"></script>
<script src="{% static "lib/ui-tinymce.js" %}"></script>
<script src="{% static "js/app.js" %}"></script> 
<script src="{% static "js/MesDirectives.js" %}"></script>  
<script src="{% static "js/MesFactories.js" %}"></script>       
{% endblock %}