                <div class="spacer">
                    <form id="formPltsActsParam" name="formPltsActsParam" class="form-horizontal" novalidate>
                        <h2>Guyot Simple ou Guyot Double</h2>
                        <div class="spacer">
                            <button ng-click="toShowHome()" class="btn btn-info text-center">Retour</button>
                            <button ng-click="toDevisParPlants()" class="btn btn-info pull-right" ng-disabled="formPltsActsParam.$pristine">Etape Suivante</button>
                        </div>
                        <div class="spacer">
                        </div>
                    </form>

                </div>