                <div class="spacer">
                    <form id="formPltsActsParam" name="formPltsActsParam" class="form-horizontal" novalidate>
                        <h2>Guyot Simple ou Guyot Double</h2>            
                        <div ng-if="conf.guyots" class="radio">
                          <label>
                            <input ng-model="params.optionsguyot" type="radio" name="optionsguyot" id="optionsguyot1" value="gs" checked>
                            Guyot Simple
                          </label>
                        </div>
                        <div ng-if="conf.guyotd" class="radio">
                          <label>
                            <input ng-model="params.optionsguyot" type="radio" name="optionsguyot" id="optionsguyot2" value="gd">
                            Guyot Double
                          </label>
                        </div>
                        <div class="spacer">
                            <button ng-click="selecthome()" class="btn btn-info text-center">Retour</button>
                            <button ng-click="selectplant()" class="btn btn-info pull-right" ng-disabled="formPltsActsParam.$pristine">Etape Suivante</button>
                        </div>
                        <div class="spacer">
                        </div>
                    </form>

                </div>
