{% load i18n %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
 {% verbatim %} 
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Obtenir un Devis</title> 
    </head>

    <body>      
        <nav class="navbar navbar-inverse">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">HEYY!!</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
              </ul>
            </div><!-- /.navbar-collapse -->
        </nav>

        <div class="container"> 
             
            <div class="row-fluid"  ng-app="newEstimate" ng-controller="formHomeCtrl">
                <contenu-home-devis 
                    ng-show="showHome == true" 
                    conf="conf" 
                    entr="detailsCompany" 
                    selectparam="toDevisParPlantsParams()">
                </contenu-home-devis>


                <contenu-params-plants 
                    ng-show="showformPltsActsParam == true" 
                    conf="conf" 
                    selectplant="toDevisParPlants" 
                    selecthome="toShowHome()">
                </contenu-params-plants>

                
                <contenu-plants 
                    ng-show="showformPltsActs == true"  
                    activities="allActivities">
                </contenu-plants>
            </div>
            
        </div>
        
        <link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap-theme.min.css">

        <link rel="stylesheet" href="/static/css/style.css"/>
        <!--[if lt IE 9]>
            <script src="js/html5shiv.min.js"></script>
        <![endif]-->
        <script type="text/javascript" src="/static/lib/jquery.min.js"></script>
        <script type="text/javascript" src="/static/lib/bootstrap/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="/static/lib/tinymce/tinymce.min.js"></script>
        <script type="text/javascript" src="/static/lib/angularjs/angular.min.js"></script>
        <script type="text/javascript" src="/static/lib/angularjs/angular-sanitize.min.js"></script>
        <script type="text/javascript" src="/static/lib/angularjs/i18n/angular-locale_fr-fr.js"></script>
        <script type="text/javascript" src="/static/lib/angularjs/angular-cookies.min.js"></script>
        <script type="text/javascript" src="/static/lib/angularjs/angular-resource.min.js"></script>
        <script type="text/javascript" src="/static/lib/angularjs/angular-route.min.js"></script>
        <script type="text/javascript" src="/static/lib/ui-tinymce.js"></script>

        <script type="text/javascript" src="/static/js/app.js"></script> 
        <script type="text/javascript" src="/static/js/MesDirectives.js"></script>  
        <script type="text/javascript" src="/static/js/MesFactories.js"></script>         
    </body>
     {% endverbatim %}  
</html>